.small-image{
  width: 200px;
}
.red-text{
  color: green;
  font-size: 52px;
  font-family: Lobster;
}
.silver-backround{
  background-color: silver;
  margin: 20px;
  padding: 20px;
}
#cat-photo-form{
  background-color: green;
  margin: 20px;
  padding: 20px;
}
